* {
    box-sizing: border-box;
    margin:0;padding:0;
  }
body {
    font-family: "Arial", sans-serif !important ;
    background: rgb(255, 255, 255);
    font-size: 8pt !important;
    line-height: 1.20 !important;
    color: #1e1e1e;
    font-weight: normal;

    /* padding: 1cm; */
    /* margin:1cm, 1.5cm !important; */
}
@page {
    margin: 1.5cm !important;
}
table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}
th {
    background-color: #dfe3e8;
    text-align: center;
    vertical-align: middle !important;
}
td,
th {
    border: 1px solid #bec2c6;
    padding:5px !important;
}
.disclaimer{
    font-size: 8pt !important;
    text-align: center;
    padding: 8px !important;
}
.cell-title {
    font-weight: bold;
    background-color: #f2f4f7;
    color: #1e1e1e;
    padding: 1px 3px;
}
.text-center {
    text-align: center !important;
}
.mt-1 {
    margin-top: 8px;
}
.mt-2 {
    margin-top: 16px;
}
.mt-3 {
    margin-top: 32px;
}
.mt-4 {
    margin-top: 64px;
}
.mb-2 {
    margin-bottom: 16px;
}
.mb-3 {
    margin-bottom: 26px;
}
.no-border {
    border: none !important;
}
.m-1 {
    margin: 5px;
}
.rotate {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 1.5em;
}

.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.p-1 {
    padding: 5px !important;
}
.p-15 {
    padding:2px 5px !important;
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.titulo {
    font-size: 12pt !important;
	text-align: center;
	font-weight: bold;
}
.uderline {
	text-decoration: underline;
}
.just {
	text-align: justify;
}
.font-bold{
    font-weight: bold;
}

